@page
@model TaskManagement.Pages.Assignments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Work Assignment</h1>

<h4>Only Manager users are allowed to modify work assignments.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Assignment.ID" />
            <div class="form-group">
                <label asp-for="Assignment.Title" class="control-label"></label>
                <input asp-for="Assignment.Title" class="form-control" />
                <span asp-validation-for="Assignment.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Description" class="control-label"></label>
                <textarea asp-for="Assignment.Description" class="form-control"></textarea>
                <span asp-validation-for="Assignment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.TimePlanned" class="control-label"></label>
                <input asp-for="Assignment.TimePlanned" class="form-control" />
                <span asp-validation-for="Assignment.TimePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.TimeSpent" class="control-label"></label>
                <input asp-for="Assignment.TimeSpent" class="form-control" />
                <span asp-validation-for="Assignment.TimeSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
