@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If this is your first visit, start with <a href="/Users/Create">creating a user</a>.</p>
    <p>Otherwise, proceed with <a href="/Login">authentication</a>.</p>
</div>
